.content {
	padding-top: 60px;
	padding-bottom: 60px;
}

.panel {
	max-width:400px;
}

.panel-body {
	max-width:400px;
}

.carousel-caption {
	padding-top:5px;
	padding-bottom:5px;
	right:5%;
	left:5%;
}
.navbar-fixed-bottom {

}
.media-object {
	max-width: 64px;
	max-height: 64px;
}
.glyphicon-heart-empty {
	color: #ff6666;
}
.glyphicon-heart-empty {
	color: #ff6666;
}
.popover-content {
   	height: 300px;
   	overflow-y: scroll;
}

